main{
    .products{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        .product-box {
            width: 334px;
            height: 337px;
            text-align: center;
            border-radius: 8px;
            background-color: #fff;
            margin-bottom: 100px;
          
            .product-image {
              background: #F6F6F6;
              padding: 10px 10px;
              img {
                width: 100%;
                height: 280.03px;
                object-fit: contain;
                border-radius: 10px;
              }
            }
          
            .product-name {
              font-size: 1.5rem;
              margin: 10px 0;
              color: #333;
            }
          
            .product-rating {
              margin: 5px 0;
          
              .star {
                color: #f39c12;
                font-size: 18px;
              }
            }
          
            .product-price {
              margin-top: 10px;
              font-size: 16px;
          
              .original-price {
                text-decoration: line-through;
                color: #999;
                margin-right: 10px;
              }
          
              .discounted-price {
                font-weight: bold;
                color: #333;
              }
            }
          }
    }
    .more{
      display: flex;
      justify-content: center;
      margin-top: 50px;
      button{
        padding: 12px 43px;
        background: #3858D6;
        color: white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
    }
}