.hero{
    padding: 145px 0;
    .content{
        display: flex;
        justify-content: space-between;
        color: white;
        align-items: center;

        &__image{
            img{
                width: 100%;
            }
        }
        &__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            .form{
                position: relative;
                .search{
                    position: absolute;
                    color: #3858D6;
                    font-size: 1.3rem;
                    top: 20px;
                    left: 15px;
                }
                button{
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    cursor: pointer;
                    padding: 8px 20px;
                    background: #3858D6;
                    border-radius: 9px;
                    border: none;
                    color: white;
                    font-size: 1.3rem;
                }
                input{
                    width: 443px;
                    height: 60px;
                    border-radius: 15px;
                    color: black;
                    font-size: 16px;
                    padding: 0 40px;
                    outline: none;
                    transition: 0.4s ease;
                    &:focus{
                        border: 2px solid blue;
                    }
                }
            }
            h1{
                font-size: 64px;
                line-height: 80px;
                width: 457px;
            }
            p{
                color: #8B8E99;
                width: 430px;
            }
        }
    }
}
@media(max-width: 650px){
    .hero{
        .content{
            &__text{
                h1{
                    font-size: 40px;
                    line-height: normal;
                }
                p{
                    font-size: 13px;
                }
                .form{
                    input{
                        width: 100%;
                    }
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media(max-width: 950px){
    .hero{
        .content{
            flex-direction: column;
            justify-content: center;
            &__text{
                .form{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: unset;
                    gap: 5px;
                    button{
                        position: unset;
                        width: 40%;
                    }
                    .search{
                        display: none;
                        position: unset;
                    }
                }
                h1{
                    text-align: center;
                    width: 100%;
                }
                p{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}